---
import ReactNative from './icons/ReactNative.astro';
import CSS from './icons/CSS.astro';
import Vue from './icons/Vue.astro';
import Node from './icons/Node.astro';

const TAGS = {
  REACTNATIVE: {
    name: 'React Native',
    class: 'bg-[#1b1b1d] text-white',
    icon: ReactNative,
  },
  CSS: {
    name: 'CSS',
    class: 'bg-[#3652dd] text-white',
    icon: CSS,
  },
  VUE: {
    name: 'Vue',
    class: 'bg-[#1a1a1a] text-white',
    icon: Vue,
  },
  NODE: {
    name: 'Node.js',
    class: 'bg-black text-white',
    icon: Node,
  },
};
const PROJECTS = [
  {
    title: 'Pediditos - Una hermosa app de comida a domicilio',
    description:
      'Un prototipo de aplicaci칩n m칩vil para entrega de alimentos construido con el framework React Native, dise침ado para sistemas operativos Android. ',
    link: 'https://svgl.vercel.app/',
    github: 'https://github.com/pheralb/svgl',
    image: '/projects/pediditos.webp',
    tags: [TAGS.REACTNATIVE, TAGS.CSS],
  },
  {
    title: 'Alice Dashboards - Transformando Datos en Impacto Positivo',
    description:
      'Alice es una plataforma para proyectos de impacto que analiza, visualiza y alinea datos con marcos de medici칩n de impacto.',
    link: 'https://svgl.vercel.app/',
    github: 'https://github.com/pheralb/svgl',
    image: '/projects/alicedashboard.webp',
    tags: [TAGS.VUE, TAGS.NODE, TAGS.CSS],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class='mt-8'>
      <h3 class='text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2'>
        {title}
      </h3>
      <p class='text-lg mb-4 text-pretty'>{description}</p>
      <ul class='flex gap-x-2 flex-row mb-2'>
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class='size-4' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading='lazy'
        class='rounded shadow-2xl shadow-white/10 aspect-video'
        style='width: 100%; height: 100%;'
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
